
body{font-family: 'Noto Sans KR', sans-serif; font-size:12px;}
.wrap{
  position:relative;
  width:100%;
  min-width:1200px;
}
/*g_header*/
#g_header{
  position: fixed;
  top: 0;
  width:100%;
  height:60px;
  background: #BA455B;
  z-index: 2;
}
.g_h_logo{
  line-height:60px;
  color:#fff;
  padding-left:40px;
  font-size:20px;
  font-weight:700;
}
.g_h_list{
  position:absolute;
  top:0;
  right:40px;
}
.g_h_list li{
  margin-bottom:10px;
  float: left;
  padding:0 20px;
  height:60px;
  line-height:60px;
}
.g_h_list li a{
  font-size:14px;
  color:#fff;
  font-weight:700;
}
.g_h_list li a:hover{
  color:#464653;
}

/*g_container*/
.g_container{
  width:100%;
  min-width:1200px;
  padding:0 40px;
  margin: 0 auto;
  box-sizing:border-box;
}
.g_container .con{
  padding-top: 60px;
  padding: 40px 0 20px;
}
.g_content .con h2.title{
  margin:40px 0 20px;
  font-size:24px;
  color:#BA455B;
}
.g_content .con h3.title{
  margin:20px 0 10px;
  font-size:18px;
  color:#FF7891;
}
h2.con_tlt{
  font-size:24px;
  color:#222;
  margin:40px 0 0;
}
/*table*/
.tbl{
  width:100%;
  border:1px solid #999;
  font-size:12px;
}
h3.con_tlt{
  font-size:18px;
  color:#444;
  margin:40px 0 20px;
}
.tbl caption{display: none;}
.tbl thead{
  font-size:14px;
  font-weight:600;

}
.tbl thead tr th{
  padding:10px;
  border:1px solid #999;
  background:#efefef;
}
.tbl tbody tr th{
  border:1px solid #999;
}
.tbl tbody tr td{
  padding:10px;
  border:1px solid #999;
}
.tbl tbody tr td .ok{
  color:#0054FF;
}
.tbl tbody tr td .no{
 color:#B70000;
}
.btn_link{
  background:#BA455B;
  color:#ffff;
  padding:5px 15px;
}
.txt_list{
  padding-bottom:40px;
}
xmp{
  background:#efefef;
  padding:0 10px 10px 10px;
  font-size: 12px;
  margin:10px 0 0;
}
.color_area ul li{
  width:100%;
  font-size:12px;
}
.bgcolor{
  width:100%;
  color:#fff;
  height:40px;
  line-height:40px;
  margin-bottom:5px;
}
.btn_color{
  width:100px;
  height:30px;
  line-height:30px;
}
/*html보기*/
.link{display:block;}
.link a{
  font-size:11px;
  color:#BA455B;
}
/*con_04 코드규칙*/
#con_04 > div{
  margin-bottom:20px;
}
#con_04 > div textarea{
  width:100%;
  border:1px solid #efefef;
  color:#999;
  font-size:12px;
}
.txt_con{
  font-size: 14px;
  padding-bottom: 5px;
}
